[Desktop Entry]
Name=WYEBrowser
Exec=wyeb %u
StartupWMClass=wyeb.
Icon=wyeb
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;
